@import "reset.css";

img {
    width: 250px;
}

/*Test formulaire*/

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.download-section {
  max-width: 800px;
  margin: 50px auto;
  background: #e0e0e0;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: white;
  font-weight: bold;
}

button:hover {
  background: #ddd;
}

/* Responsive */
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}